.mejs__broadcast {
  color: inherit;
}

// Controls

.mejs__controls:not([style*='display: none']) {

  .mejs__button-feature button {
    background: transparent url('../../mejs-controls.svg') no-repeat;
  }

  .mejs__prevtrack button {
    background-position: -267px 0;
  }

  .mejs__nexttrack button {
    background-position: -242px 0;
  }

  .mejs__loop-on button {
    background-position: -160px 0;
  }

  .mejs__loop-off button {
    background-position: -180px 0;
  }

  .mejs__show-playlist button {
    background-position: -220px 0;;
  }

  .mejs__hide-playlist button {
    background-position: -201px 0;;
  }
}

// Playlist

.mejs__playlist {
  background-color: #EDEDED;
  display: none;

  &.active{
    display: block;
  }

  ul {
    padding: 15px;
    margin: 0;
  }

  li{
    color: #000;
    font-size: 1.4rem;
    margin: 2px 0;
    list-style-type: none;

    &:hover,
    &.current{
      color: dodgerblue;
      cursor: pointer;
    }
  }
}